<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Le Central</title>
        <link rel="stylesheet" href="/test_style.css">
        <link rel="stylesheet" href="/css_copy/grid_24.css">
        <link rel="stylesheet" href="/css_copy/style.css">
    </head>
    <body>
    <div class="header"><center>
      <a href="/"><img class="logo" src="images/lcheading.jpg" alt="logo"></a>
    </center></div>  

    <center><ul class="menu"><font color='#484848'> 
        <li><a href="/">Home</a></li>
        <li><a href="/information_directions1">Directions</a></li>
        <li><a href="/ourmenu_stass_questions">Party Information</a></li>
        <li><a href="/tempstuff_picnicbasketmain">Take out & Catering</a></li>
        <li><a href="/winebev_featured">Wines</a></li>
        <li><a href="/ourmenu_brunch">Menus</a></li>
    </font>
    </ul></center>

    
        <%= yield %>
<p>
    <p>
   <center><ul class="menu"><font color='#484848'> 
        <li><a href="/">Contact Us</a></li></font></ul></center>
    </body>
</html>
