<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Le Central</title>
        <link rel="stylesheet" href="/test_style.css">
        <link rel="stylesheet" href="public/css_copy/grid_24.css">
        <link rel="stylesheet" href="public/css_copy/ie.css">
        <link rel="stylesheet" href="public/css_copy/jquery.fancybox-1.3.4css">
        <link rel="stylesheet" href="public/css_copy/reset.css">
        <link rel="stylesheet" href="public/css_copy/skin-2.css">
        <link rel="stylesheet" href="public/css_copy/slider.css">
        <link rel="stylesheet" href="public/css_copy/style.css">
    </head>
    <body>
    <div class="header">
      <a href="/"><img class="logo" src="images/lcheading.jpg" alt="logo"></a>
    </div>  
    <nav> </nav>
        <%= yield %>
    </body>
</html>
