<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <div id="header">
      <a href="/"><img src="images/lcheading.jpg" alt="logo"></a>
    </div>  
        <%= yield %>
    </body>
</html>
